@import "tailwindcss";
@plugin "daisyui" {
	root: ":host";
	themes:
		cmyk --default,
		forest --prefersdark;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

:host {
	all: initial;
}

.overlay-container {
  @apply fixed w-0 h-0 top-0 left-0;
  z-index: 2147483647;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral/30;
  border-radius: 10px;
  border: 3px solid transparent; 
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}