@import "tailwindcss";
@plugin "daisyui" {
	root: ":host";
	themes:
		lemonade --default,
		dim --prefersdark;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

:host {
	all: initial;
}

.overlay-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 2147483647;
}
